body{
    margin: 0; /* removes the default page margin*/
}

.header{
    display:flex;
    flex-direction: column;
    flex-basis: 200px; /*prob change later*/
    background-color: azure; /*prob change later */
}

.navbar{
    display: flex;
    background-color:rgb(39, 120, 176);
    flex-basis: 80px;
    justify-content:center;
    align-items: center;
    gap:10px;
}

.nav-item{
    font-size: 2rem;
    color: white;
    background-color: inherit;
    height: 40px;
}

.gridbox{
    height: 200vh;
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: azure;
}

.centerpane{
    background-color: white;
}